table {
  background: #E6EDED;
  border: 1px solid #333;
  border-radius: 20px;
}

table tr {
  border: 1px solid #333;
}

table th {
  padding: 1rem;
  border-radius: 20px 20px 0 0;
}

table td {
  text-align: center;
  padding: 1rem 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  margin: 1rem 0;
}
